
ssl=required
ssl_cert = <<%= @dovecot_ssl_dir %>/certs/dovecot.crt
ssl_key = <<%= @dovecot_ssl_dir %>/private/dovecot.key
<% if @dovecot_ssl_ca -%>
ssl_ca = <<%= @dovecot_ssl_dir %>/certs/dovecot.ca.crt
<% end -%>

<% if @dovecot_mailbox_format && @dovecot_mailbox_format == "mdbox" -%>
# mdbox settings
mdbox_rotate_size = 10M
mdbox_rotate_interval = 10d
<% end -%>

# zlib
<% if @dovecot_zlib && @dovecot_zlib == "yes" -%>
mail_plugins = $mail_plugins zlib
plugin {
  zlib_save_level = 1 # 1..9
  zlib_save = gz # or bz2
}
<% end -%>
