
Director {
    Name = "bacula-dir"
    WorkingDirectory = "/srv/bacula"
    PidDirectory = "/var/run"
    QueryFile = "/etc/bacula/query.sql"
    Password = "<%= @password_real %>"
    TLS Enable = yes
    TLS Require = yes
    TLS Key = /etc/pki/tls/private/bacula.key
    TLS Certificate = /etc/pki/tls/certs/bacula.crt
    TLS CA Certificate File = <%= @puppet_ssldir %>/certs/ca.pem
    TLS Verify Peer = yes
}

Messages {
    Name = "Standard"
    MailCommand = "mail -s \"Bacula Message\" %r"
    OperatorCommand = "mail -s \"Bacula Operator Message\" %r"
    mail = root = all, !skipped
    operator = root = mount
    append = "/var/log/bacula/bacula.log" = all, !skipped
    catalog = all
}

Catalog {
    Name = "Catalog"
<% if @dbadapter == "sqlite" -%>
    dbname = bacula
    user = "bacula"
    password = ""
<% else -%>
<%   if @dbserver == 'localhost' -%>
<%     if @dbadapter == 'mysql' -%>
    DB Socket = "/var/lib/mysql/mysql.sock"
<%     end -%>
<%   else -%>
    DB Address = "<%= @dbserver %>"
<%   end -%>
    dbname = "<%= @dbname %>"
    user = "<%= dbuser %>"
    password = "<%= dbpassword %>"
<% end %>
}

Pool {
    Name = "Default"
    Pool Type = Backup
    Recycle = no
}

Schedule {
    Name = "Default"
    Run = Level=Full on 1 at 3:00
    Run = Level=Incremental on 2-31 at 3:00
}

JobDefs {
    Name = "DefaultJob"
    Type = Backup
    Level = Incremental
    Messages = Standard
    Schedule = Default
    FileSet = Default
    Pool = Default
    Storage = Default
    Write Bootstrap = "/srv/bacula/%c.bsr"
    Priority = 10
    Spool Attributes = yes
}

Job {
    Name = "RestoreJob"
    Type = Restore
    Client = "<%= @homename %>"
    FileSet = "Default"
    Storage = Default
    Messages = Standard
    Pool = Default
    Where = "/var/tmp"
}

@|"sh -c 'find /etc/bacula/bacula-dir.d/*.conf -exec echo @{} \\;'"
