<?xml version="1.0" encoding="UTF-8" ?>
<solr persistent="false" sharedLib="lib">
    <cores adminPath="/admin/cores">
<% @solr_core.each do |core| -%>
        <core name="<%= core %>" instanceDir="<%= core %>">
            <property name="dataDir" value="/srv/solr/index/<%= core %>" />
        </core>
<% end -%>
    </cores>
</solr>
