ScriptAlias <%= @scriptalias %> <%= @cgibin %>/
Alias       /nagios <%= @htdocs %>

<Directory "<%= @cgibin %>">
 Options ExecCGI
 AllowOverride AuthConfig
</Directory>

<Directory "<%= @htdocs %>">
 Options FollowSymLinks
 AllowOverride AuthConfig
</Directory>
