# Provides UDP syslog reception
$ModLoad imudp.so
$UDPServerRun 514

# Provides TCP syslog reception with TLS
$ModLoad imtcp.so

$DefaultNetstreamDriver gtls
$DefaultNetstreamDriverCAFile <%= @puppet_ssldir %>/certs/ca.pem
$DefaultNetstreamDriverCertFile <%= @puppet_ssldir %>/certs/<%= @homename %>.pem
$DefaultNetstreamDriverKeyFile <%= @puppet_ssldir %>/private_keys/<%= @homename %>.pem

$InputTCPServerStreamDriverMode 1
$InputTCPServerStreamDriverAuthMode x509/certvalid
$InputTCPServerRun 514

