
*.*		<% if @operatingsystem != "OpenBSD" %>-<% end %>/var/log/all.log
mark.*		<% if @operatingsystem != "OpenBSD" %>-<% end %>/var/log/all.log
<% if @syslog_tlsserver and @syslog_type == "rsyslog" -%>

$DefaultNetstreamDriver gtls
$DefaultNetstreamDriverCAFile <%= @puppet_ssldir %>/certs/ca.pem
$DefaultNetstreamDriverCertFile <%= @puppet_ssldir %>/certs/<%= @homename %>.pem
$DefaultNetstreamDriverKeyFile <%= @puppet_ssldir %>/private_keys/<%= @homename %>.pem

$ActionSendStreamDriverMode 1
$ActionSendStreamDriverAuthMode x509/name
$ActionSendStreamDriverPermittedPeer <%= @syslog_tlsserver %>

$WorkDirectory /var/spool/rsyslog
$ActionQueueFileName <%= @syslog_tlsserver %>
$ActionQueueMaxDiskSpace 100M
$ActionQueueSaveOnShutdown on
$ActionQueueType LinkedList
$ActionResumeRetryCount -1

*.*		@@<%= @syslog_tlsserver %>
mark.*		@@<%= @syslog_tlsserver %>
<% elsif @syslog_server -%>

*.*		@<%= @syslog_server %>
mark.*		@<%= @syslog_server %>
<% end -%>
