<?xml version="1.0" standalone="no" ?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>

  <name replace-wildcards="yes"><%= @description %></name>

  <service>
    <type><%= @name %></type>
    <port><%= @realport %></port>
<% @txt.each do |val| -%>
    <txt-record><%= val %></txt-record>
<% end -%>
  </service>

</service-group>
