
<% if @puppetversion[/\d+/].to_i >= 2 -%>
[master]
<% else -%>
[puppetmasterd]
<% end -%>
    # Enable reporting on server.
    reports = tagmail,store

    report = true
    reportdir = /srv/puppet/reports

    # Server bucket store.
    bucketdir = /srv/puppet/bucket

    # Put custom templates under datadirectory
    templatedir = /srv/puppet/templates

<% if @puppet_storeconfigs != 'none' -%>
    # Use storeconfigs
    storeconfigs = true
<%   if @puppet_storeconfigs == 'thin' -%>
    thin_storeconfigs = true
<%   end -%>
    dbadapter = <%= @puppet_dbadapter %>
<%   if @puppet_dbadapter == 'sqlite3' -%>
    dblocation = /srv/puppet/storeconfigs/storeconfigs.db
<%   else -%>
    dbserver = <%= @puppet_dbserver %>
    dbname = <%= @puppet_dbname %>
    dbuser = <%= @puppet_dbuser %>
    dbpassword = <%= @puppet_dbpassword %>
<%   end -%>
<% end -%>
