[main]
    # Where Puppet stores dynamic and growing data.
    # The default value is '/var/puppet'.
    vardir = <%= @vardir %>

<% if @kernel == 'Linux' -%>
    # The Puppet log directory.
    # The default value is '$vardir/log'.
    logdir = /var/log/puppet

    # Where Puppet PID files are kept.
    # The default value is '$vardir/run'.
    rundir = /var/run/puppet

<% end -%>
<% if @kernel == 'OpenBSD' -%>
    # The shell search path.  Defaults to whatever is inherited
    # from the parent process.
    path = /sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin

<% end -%>
    # The server to which server puppetd should connect
    # The default value is 'puppet'. Explicitly set to support
    # re-installs on remote networks.
    server = <%= @puppet_server %>

    # The name to use when handling certificates. Set during
    # bootstrap based on the fully qualified domain name.
    certname = <%= @homename %>

    # Enable sending reports to puppet server.
    report = true

    # Enable sync of plugins and facts
    pluginsync = true
    pluginsignore = .svn CVS RCS
    factpath = $vardir/lib/facter

    # The bit length of keys.
    keylength = <%= @puppet_keylength %>

<% if @puppet_diffargs -%>
    # Arguments for puppet's use of diff
    diff_args = <%= @puppet_diffargs %>

<% end -%>
<% if @puppetversion[/\d+/].to_i >= 2 -%>
[agent]
    # Ignore site manifest when run as agent. Fixes warnings about
    # storeconfigs on master.
    manifest = /dev/null

<% else -%>
[puppetd]
<% end -%>
    # The file in which puppetd stores a list of the classes
    # associated with the retrieved configuratiion.  Can be loaded in
    # the separate ``puppet`` executable using the ``--loadclasses``
    # option.
    # The default value is '$confdir/classes.txt'.
    classfile = $vardir/classes.txt

    # Where puppetd caches the local configuration.  An
    # extension indicating the cache format is added automatically.
    # The default value is '$confdir/localconfig'.
    localconfig = $vardir/localconfig

    # Enable dot graphs of configuration depencies
    graph = true
